UNYCLOUD_GIT_SYNC_ENABLED=0
UNYCLOUD_GIT_SYNC_PUSH=1
UNYCLOUD_GIT_BRANCH=master
UNYCLOUD_GIT_RELEASE_KIND=auto
UNYCLOUD_GIT_RELEASE_PUSH_TAGS=1
GH_TOKEN_FILE=/home/coder/TRINITY-DOCKER/root/.config/gh/token
